@import './utils/vars';
@import './utils/globals';
@import './utils/mixins';

@import './partials/button';

// @import './partials/hero-header';
@import './partials/products';
@import './partials/about';
@import './partials/advantages';
@import './partials/contacts';

@import './partials/footer';

@import './partials/modal-location';
@import './partials/modal-franschise';
@import './partials/backdrop';
