@import './utils/vars';
@import './utils/globals';
@import './utils/mixins';

@import './partials/button';
// @import './partials/hero-header';
@import './partials/contacts';
@import './partials/footer';
