/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import './example';

@import './utils/vars';
@import './utils/globals';
@import './utils/mixins.scss';

@import './partials/button';
@import './partials/contacts';
