/* BRAND COLORS */
/* FONTS */
/* BREAKPONTS */
/* TRANSITIONS */
/* OTHER */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "DM Sans";
  color: #000;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.list {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.contacts__btn-franschise, .contacts__btn-location {
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contacts__btn-location {
  background-color: #d41443;
  color: #fff;
}
.contacts__btn-franschise {
  background-color: #fff;
  color: #d41443;
}

.round-btn {
  border: none;
  content: "";
  background: url(../images/arrow-right.png);
  width: 40px;
  height: 40px;
}

.contacts {
  font-family: "DM Sans";
  font-weight: 500;
  background-image: linear-gradient(#fff 84px, #fff5f6 84px);
}
.contacts__container {
  padding-left: 20px;
  padding-right: 20px;
}
.contacts__title {
  display: none;
}
.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 54px;
}
.contacts__card {
  max-width: 220px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  padding: 43px 21px 43px 20px;
  transition-property: scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__name {
  width: 80px;
  height: 16px;
  background-color: #f0d1a5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 25px;
  font-size: 0.75rem;
  line-height: 1.375rem;
  letter-spacing: 0.04em;
  color: #fff;
}
.contacts__name--foodtruck {
  background-color: #c2e297;
  width: 130px;
}
.contacts__city {
  margin-bottom: 10px;
  font-size: 0.75rem;
  line-height: 1.375rem;
  letter-spacing: 0.04em;
  color: #000;
}
.contacts__description {
  margin-bottom: 25px;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #907e82;
}
.contacts__schedule {
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}
.contacts__schedule-item:first-child {
  margin-bottom: 10px;
}
.contacts__schedule-day {
  font-size: 0.75rem;
  line-height: 1.375rem;
}
.contacts__schedule-hour {
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: #ffa5ba;
}
.contacts__mail {
  font-size: 0.75rem;
  line-height: 1, 125rem;
  color: #907e82;
}
.contacts__tel {
  font-size: 0.75rem;
  line-height: 1, 125rem;
  color: #907e82;
}
.contacts__tel:hover, .contacts__mail:hover, .contacts__tel:focus, .contacts__mail:focus {
  color: #c7133e;
}
.contacts__card:hover {
  scale: 1.05;
}
.contacts__btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 113px;
}
.contacts__btn-location {
  width: 161px;
  height: 44px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3125rem;
}
.contacts__btn-franschise {
  width: 161px;
  height: 44px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3125rem;
}

.footer {
  width: 100%;
  margin: auto;
  background-color: #fff5f6;
}
.footer__firstArea {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__firstAreaTitleArea {
  font-family: "Titan One";
  min-width: 14.625rem;
}
.footer__firstAreaTitle {
  font-size: 1.125rem;
  line-height: 1.15;
  text-transform: uppercase;
  color: #ffa5ba;
  padding-bottom: 1rem;
}
.footer__firstAreaSubtitle {
  font-size: 2.125rem;
  line-height: 1.15;
  text-transform: uppercase;
  color: #d41443;
}
.footer__socialsContact {
  padding-top: 2.6875rem;
  padding-left: 4.375rem;
  padding-bottom: 2.6875rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}
.footer__socialsArea {
  display: flex;
  gap: 1.75rem;
}
.footer__socialsSubArea {
  background-color: #ffa5ba;
  border-radius: 50%;
  transition: 250ms;
}
.footer__socialsSubArea:hover, .footer__socialsSubArea:focus {
  background-color: #d41443;
}
.footer__iconArea {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__icon {
  color: #fff;
  fill: currentColor;
}
.footer__icon--padding {
  padding-right: 0.1rem;
}
.footer__ContactInfo {
  padding-top: 3rem;
  font-size: 0.75rem;
  line-height: 1.86;
  font-weight: 700;
}
.footer__ContactMessage {
  display: inline-block;
}
.footer__phoneLink {
  display: inline-block;
  text-decoration: none;
  color: #d41443;
}
.footer__secondArea {
  width: 100%;
  border-top: 1px solid #e1e1e1;
}
.footer__secondAreaDiv2 {
  color: #907e82;
  font-size: 0.875rem;
  font-weight: 700;
}

@media (max-width: 767px) {
  .footer__firstArea {
    max-width: 20rem;
  }
  .footer__firstAreaTitleArea {
    padding-left: 1.25rem;
    max-width: 14.625rem;
  }
  .footer__firstAreaTitle {
    padding-left: 0.125rem;
  }
  .footer__secondAreaDiv {
    max-width: 9.375rem;
    padding-top: 1.375rem;
    margin: auto;
    padding-bottom: 1.5625rem;
  }
  .footer__secondAreaDiv2 {
    max-width: 9.25rem;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__firstArea {
    max-width: 48rem;
  }
  .footer__firstAreaTitleArea {
    font-size: 1.625rem;
    padding-left: 2.25rem;
    max-width: 23.5rem;
    padding-bottom: 5.6875rem;
  }
  .footer__firstAreaTitle {
    font-size: 1.625rem;
  }
  .footer__firstAreaSubtitle {
    font-size: 3rem;
  }
  .footer__socialsContact {
    padding: 0 2.25rem 5.6875rem 0;
  }
  .footer__ContactInfo {
    font-size: 0.875rem;
  }
  .footer__secondAreaDiv {
    display: flex;
  }
  .footer__secondAreaDiv2 {
    padding-top: 1.8125rem;
    margin: auto;
    line-height: 1.86;
  }
}
@media (min-width: 1200px) {
  .footer__firstArea {
    max-width: 80rem;
  }
  .footer__firstAreaTitleArea {
    padding-left: 7.125rem;
    max-width: 36.75rem;
    padding-bottom: 6rem;
  }
  .footer__firstAreaTitle {
    font-size: 1.875rem;
  }
  .footer__firstAreaSubtitle {
    font-size: 3.625rem;
  }
  .footer__socialsContact {
    padding: 0 7.5625rem 5.6875rem 0;
  }
  .footer__ContactInfo {
    font-size: 1rem;
  }
  .footer__secondAreaDiv {
    display: flex;
  }
  .footer__secondAreaDiv2 {
    padding-top: 1.8125rem;
    margin: auto;
    line-height: 1.86;
  }
}
.products {
  padding-top: 121px;
}
.products__headers {
  text-transform: uppercase;
  text-align: center;
}
.products__headers-first {
  text-decoration: none;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  color: #ffa5ba;
}
.products__headers-second {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #d41443;
  padding-bottom: 144px;
}
.products__list {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}
.products__list-item {
  padding-top: 161px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.products__list-item:first-child:before {
  content: "";
  background-image: url(../images/home-pic1.png);
  width: 249px;
  height: 252px;
  background-size: cover;
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translatex(-50%);
  transform: translateY(-100%);
}
.products__list-item:first-child {
  background: #ffb8ca;
}
.products__list-item:nth-child(2) {
  background: #f0d1a5;
}
.products__list-item:nth-child(2):before {
  content: "";
  background-image: url(../images/home-pic2.png);
  width: 249px;
  height: 252px;
  background-size: cover;
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translatex(-50%);
  transform: translateY(-100%);
}
.products__list-item:nth-child(3) {
  background: #c2e297;
}
.products__list-item:nth-child(3):before {
  content: "";
  background-image: url(../images/home-pic3.png);
  width: 249px;
  height: 252px;
  background-size: cover;
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translatex(-50%);
  transform: translateY(-100%);
}
.products__list-item-header {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
.products__list-item-desc {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 0 39px 0 41px;
}
.products__list-dot-element {
  border-radius: 50%;
  background-color: #fff;
  width: 6px;
  height: 6px;
  display: inline-block;
}

.round-btn {
  margin-bottom: 40px;
