html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $whiteColor;
  font-family: $paragraphFont;
  color: $blackColor;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.list {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: $transitionDefault;
}
