<section class="about" id="about">
  <div class="container">
    <div class="about__header">
      <a href="#about" class="about__header-first">tradition and love</a>
      <h2 class="about__header-second">how it’s made?</h2>
    </div>
    <div class="about__paragraph">
      <img
        src="./images/about.png"
        srcset="./images/about@2x.png 760w, ./images/about@3x.png 1200w"
        alt="milk jug with cow behind"
        class="about__picture"
        sizes="(min-width: 1280px) 1548px"
      />
      <div class="about__wrapper">
        <p class="about__paragraph-first">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__paragraph-second">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt
          <span class="about__paragraph-second">Aliquam erat volutpat. Aenean accumsan.</span>
          <button class="wide-btn wide-btn--gray about__more-btn" type="button">
            Read more
            <svg class="about__btn-icon" width="10" height="10">
              <use href="./icons/icons.svg#icon-vector"></use>
            </svg>
          </button>
        </p>
      </div>
    </div>
  </div>
</section>
