<section>
  <h2>Contacts</h2>
  <ul>
    <li>
      <p>CAFE</p>
      <h3>Chicago</h3>
      <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <ul>
        <li>
          <p>Monday - Friday</p>
          <p>06:00 AM - 10:00 PM</p>
        </li>
        <li>
          <p>Saturday - Sunday</p>
          <p>08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul>
        <li>
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
        <li>
          <a href="tel:+610383766284">+61(0) 383 766 284</a>
        </li>
      </ul>
    </li>
    <li>
      <p>FOODTRUCK</p>
      <div>
        <h3>Los Angeles</h3>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <ul>
        <li>
          <p>Monday - Friday</p>
          <p>06:00 AM - 10:00 PM</p>
        </li>
        <li>
          <p>Saturday - Sunday</p>
          <p>08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul>
        <li>
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
        <li>
          <a href="tel:+610383766284">+61(0) 383 766 284</a>
        </li>
      </ul>
    </li>
    <li>
      <p>CAFE</p>
      <div>
        <h3>New York</h3>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <ul>
        <li>
          <p>Monday - Friday</p>
          <p>06:00 AM - 10:00 PM</p>
        </li>
        <li>
          <p>Saturday - Sunday</p>
          <p>08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul>
        <li>
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
        <li>
          <a href="tel:+610383766284">+61(0) 383 766 284</a>
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <button type="button">Our Locations</button>
    </li>
    <li>
      <button type="button">Franchise</button>
    </li>
  </ul>
</section>
