<section class="contacts" id="contacts">
  <h2 class="contacts__title">Contacts</h2>
  <div class="contacts__container">
    <ul class="contacts__list list">
      <li class="contacts__item">
        <p class="contacts__name">CAFE</p>
        <h3 class="contacts__city">Chicago</h3>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts__schedule list">
          <li class="contacts__schedule-item">
            <p class="contacts__schedule-day">Monday - Friday</p>
            <p class="contacts__schedule-hour">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__schedule-item">
            <p class="contacts__schedule-day">Saturday - Sunday</p>
            <p class="contacts__schedule-hour">08:00 AM - 04:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__link-list list">
          <li class="contacts__link-item">
            <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__link-item">
            <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__name contacts__name--foodtruck">FOODTRUCK</p>
        <h3 class="contacts__city">Los Angeles</h3>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts__schedule list">
          <li class="contacts__schedule-item">
            <p class="contacts__schedule-day">Monday - Friday</p>
            <p class="contacts__schedule-hour">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__schedule-item">
            <p class="contacts__schedule-day">Saturday - Sunday</p>
            <p class="contacts__schedule-hour">08:00 AM - 04:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__link-list list">
          <li class="contacts__link-item">
            <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__link-item">
            <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__name">CAFE</p>
        <h3 class="contacts__city">New York</h3>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts__schedule list">
          <li class="contacts__schedule-item">
            <p class="contacts__schedule-day">Monday - Friday</p>
            <p class="contacts__schedule-hour">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__schedule-item">
            <p class="contacts__schedule-day">Saturday - Sunday</p>
            <p class="contacts__schedule-hour">08:00 AM - 04:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__link-list list">
          <li class="contacts__link-item">
            <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__link-item">
            <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__btn-list list">
      <li class="contacts__btn-item">
        <button class="contacts__btn-location" type="button" data-modal-location-open>
          Our Locations
          <svg class="icon-vector icon-vector--white" width="10" height="10">
            <use href="./icons/icons.svg#icon-vector"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__btn-item">
        <button class="contacts__btn-franschise" type="button" data-modal-franschise-open>
          Franchise
          <svg class="icon-vector icon-vector--red" width="10" height="10">
            <use href="./icons/icons.svg#icon-vector"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
