<section>
  <div>
    <div>
      <img src="images/testimonials1.jpg" alt="Girl1" width="85" height="85" />
    </div>
    <div>
        <svg width="54" height="40">
            <use href="icons/dash.svg#dash"></use>
        </svg>
      <p>
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
      <div>
        <ul>
          <li>o</li>
          <li>o</li>
          <li>o</li>
        </ul>
        <h2>Emily, Los Angeles</h2>
        <div>
          <ul class="pagination">
            <li>
              <a href="#">
                <svg class="" width="13" height="12">
                    <use href="icons/home1.svg#home1">
                    </use></svg
              >
            </a>
            </li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
