<section class="customer">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="customer__image">
            <img
              src="images/testimonials-happy.jpg"
              srcset="images/testimonials-happy@2x.jpg 2x"
              alt="Happy Girl"
              width="85"
              height="85"
            />
          </div>
          <div class="customer__description">
            <div class="customer__article">
              <svg class="customer__icon-dash" width="54" height="40">
                <use href="icons/icons.svg#icon-dash"></use>
              </svg>
              <p class="customer__name">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <div class="customer__label">
            <ul class="customer__dots-list list">
              <li class="customer__dots-item"></li>
              <li class="customer__dots-item"></li>
              <li class="customer__dots-item"></li>
            </ul>
            <h2 class="customer__title">Emily, Los Angeles</h2>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customer__image">
            <img
              src="images/testimonials-smile.jpg"
              srcset="images/testimonials-smile@2x.jpg 2x"
              alt="Smilling Girl"
              width="85"
              height="85"
            />
          </div>
          <div class="customer__description">
            <div class="customer__article">
              <svg class="customer__icon-dash" width="54" height="40">
                <use href="icons/icons.svg#icon-dash"></use>
              </svg>
              <p class="customer__name">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <div class="customer__label">
            <ul class="customer__dots-list list">
              <li class="customer__dots-item"></li>
              <li class="customer__dots-item"></li>
              <li class="customer__dots-item"></li>
            </ul>
            <h2 class="customer__title">Emily, Los Angeles</h2>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customer__image">
            <img
              src="images/testimonials-listen.jpg"
              srcset="images/testimonials-listen@2x.jpg 2x"
              alt="Listening Girl"
              width="85"
              height="85"
            />
          </div>
          <div class="customer__description">
            <div class="customer__article">
              <svg class="customer__icon-dash" width="54" height="40">
                <use href="icons/icons.svg#icon-dash"></use>
              </svg>
              <p class="customer__name">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <div class="customer__label">
            <ul class="customer__dots-list list">
              <li class="customer__dots-item"></li>
              <li class="customer__dots-item"></li>
              <li class="customer__dots-item"></li>
            </ul>
            <h2 class="customer__title">Emily, Los Angeles</h2>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
