<footer class="footer">
      <div class="footer__firstArea">
        <div class="footer__subarea">
          <div class="footer__logo--padding">
            <a class="logo" href="#">
              <span class="logo__web">Web</span>
              <span class="logo__span logo--whitefont">Studio</span>
            </a>
          </div>
          <address class="footer__addressarea">
            <div class="footer__address">m. Warszawa, Aleje Jerozolimskie 21</div>
            <a
              class="footer__address footer__address--greyFont footer__address--padding"
              href="mailto:info@example.com"
            >
              info@example.com
            </a>
            <a class="footer__address footer__address--greyFont" href="tel:+48111111111"
              >+48 111 111 111</a
            >
          </address>
        </div>
        <div class="footer__socialarea">
          <p class="footer__comment">DOŁĄCZ DO NAS</p>
          <div class="footer__socials">
            <div class="socials">
              <div class="socials__area socials__area--greybackground transition">
                <div class="socials__subarea socials__subarea--whitecolor">
                  <svg class="socials__icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-instagram-2"></use>
                  </svg>
                </div>
              </div>
              <div class="socials__area socials__area--greybackground transition">
                <div class="socials__subarea socials__subarea--whitecolor">
                  <svg class="socials__icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-twitter-1"></use>
                  </svg>
                </div>
              </div>
              <div class="socials__area socials__area--greybackground transition">
                <div class="socials__subarea socials__subarea--whitecolor">
                  <svg class="socials__icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-facebook-1"></use>
                  </svg>
                </div>
              </div>
              <div class="socials__area socials__area--greybackground transition">
                <div class="socials__subarea socials__subarea--whitecolor">
                  <svg class="socials__icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-linkedin-1"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__newsletter">
          <div class="newsletter">
            <p class="newsletter__comment">ZAPISZ SIĘ DO NEWSLETTERA</p>
            <div class="newsletter__section">
              <form
                class="newsletter__form"
                autocomplete="off"
                method="POST"
                action="javascript:void(0);"
                id="footer-email"
              >
                <label class="newsletter__label">
                  <input
                    class="newsletter__input"
                    type="email"
                    name="email"
                    placeholder="E-mail"
                    required
                  />
                </label>
                <div class="newsletter__buttonArea">
                  <button class="newsletter__button" type="submit">
                    <span class="newsletter__button--comment">Zapisz się</span>
                    <svg class="socials__icon" width="24" height="24">
                      <use href="./images/icons.svg#icon-icon-send"></use>
                    </svg>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__secondArea">
            <div class="footer__secondAreaDiv">© 2019 - IceCream. All Rights Reserved.  </div>
      </div>
    </footer>