<section class="gallery">
  <h2 class="gallery__title">Gallery</h2>
  <div class="gallery__grid-absolute container">
    <div class="gallery__item-0 gallery__img-box">
      <img
        class="gallery__img"
        alt="Icecream green ice"
        src="./images/gallery/icecream-green-ice.webp"
      />
    </div>
    <div class="gallery__item-1 gallery__img-box">
      <img
        class="gallery__img"
        alt="Icecream pink ices"
        src="./images/gallery/icecream-pink-ices.webp"
      />
    </div>
    <div class="gallery__item-2 gallery__img-box">
      <img
        class="gallery__img"
        alt="Icecream hands ice"
        src="./images/gallery/icecream-hands-ice.webp"
      />
    </div>
    <div class="gallery__item-3 gallery__img-box">
      <img
        class="gallery__img"
        alt="Icecream nice woman"
        src="./images/gallery/icecream-nice-woman.webp"
      />
    </div>
    <div class="gallery__item-4 gallery__img-box--big">
      <img
        class="gallery__img--bigimg"
        alt="Icecream a lot of ices"
        src="./images/gallery/icecream-alot-of-ices.webp"
      />
    </div>
    <div class="gallery__item-5 gallery__img-box">
      <img
        class="gallery__img"
        alt="Icecream ice on street"
        src="./images/gallery/icecream-ice-on-street.webp"
      />
    </div>
    <div class="gallery__item-6 gallery__img-box">
      <img
        class="gallery__img"
        alt="Icecream berrys deser"
        src="./images/gallery/icecream-berrys-deser.webp"
      />
    </div>
    <div class="gallery__item-7 gallery__img-box">
      <img
        class="gallery__img"
        alt="Icecream ice coffe"
        src="./images/gallery/icecream-icecoffe.webp"
      />
    </div>
    <div class="gallery__item-8 gallery__img-box">
      <img
        class="gallery__img"
        alt="Icecream dog lick ice"
        src="./images/gallery/icecream-dog-lick-ice.webp"
      />
    </div>
    <div class="gallery__item-9 gallery__img-box">
      <img
        class="gallery__img"
        alt="Icecream milk in jar with cookie"
        src="./images/gallery/icecream-milk-in-jar-with-cookie.webp"
      />
    </div>
  </div>
</section>
