<section class="gallery">
  <div class="gallery__first-half"></div>
  <div class="gallery__secound-half"></div>
  <div class="gallery__grid-absolute">
    <div class="gallery__item-0 gallery__img-box">
      <img class="gallery__img" src="./images/gallery/1.webp" />
    </div>
    <div class="gallery__item-1 gallery__img-box">
      <img class="gallery__img" src="./images/gallery/3.webp" />
    </div>
    <div class="gallery__item-2 gallery__img-box">
      <img class="gallery__img" src="./images/gallery/2.webp" />
    </div>
    <div class="gallery__item-3 gallery__img-box">
      <img class="gallery__img" src="./images/gallery/5.webp" />
    </div>
    <div class="gallery__item-4 gallery__img-box--big">
      <img class="gallery__img--bigimg" src="./images/gallery/4.webp" />
    </div>
    <div class="gallery__item-5 gallery__img-box">
      <img class="gallery__img" src="./images/gallery/7.webp" />
    </div>
    <div class="gallery__item-6 gallery__img-box">
      <img class="gallery__img" src="./images/gallery/6.webp" />
    </div>
    <div class="gallery__item-7 gallery__img-box">
      <img class="gallery__img" src="./images/gallery/9.webp" />
    </div>
    <div class="gallery__item-8 gallery__img-box">
      <img class="gallery__img" src="./images/gallery/8.webp" />
    </div>
    <div class="gallery__item-9 gallery__img-box">
      <img class="gallery__img" src="./images/gallery/10.webp" />
    </div>
  </div>
</section>
