<header class="header">
  <div class="header__container">
    <!-- Header top -->
    <div class="header__top">
      <img width="199" height="50" src="/src/images/logo.png" alt="logo" />
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="#" class="header__link">Home</a>
            <a href="#" class="header__link">About us</a>
            <a href="#" class="header__link">How it's made?</a>
            <a href="#" class="header__link">Our Products</a>
            <a href="#" class="header__link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="header__buttons">
        <button class="menu__togle js-open-menu">
          <img src="/src/icons/burger.svg" alt="" />
        </button>
        <button class="header__button wide-btn wide-btn--white">Buy now ></button>
      </div>
    </div>

    <!-- Header main -->
    <div class="header__main">
      <div class="header__home">
        <h1 class="header__text">ICE CREAM MADE WITH PASSION</h1>
        <div class="header__wrapper">
          <button class="wide-btn wide-btn--red">Products</button>
          <button class="wide-btn wide-btn--white">How it's made?</button>
        </div>
      </div>
      <div class="header__facilites">
        <h2 class="header__numbers">16 <span class="header__subtext">cafes</span></h2>
        <h2 class="header__numbers">23 <span class="header__subtext">food trucks</span></h2>
      </div>
    </div>

    <!-- Header bottom -->
    <div class="header__bottom">
      <div class="header__wrapper">
        <img width="188" height="191" src="/src/images/slider-pic5.png" alt="" />
        <div class="header__info">
          <p class="header__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="round-btn"></button>
        </div>
      </div>
      <img width="293" height="232" src="/src/images/slider-pic4.png" alt="" />
    </div>
  </div>
</header>
