<header class="header">
  <div class="header__container">
    <div class="header__top">
      <a href="index.html" title="Home Page"
        ><img width="199" height="50" src="/src/images/logo.png" alt="logo"
      /></a>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="index.html" class="header__link header__link--active">Home</a>
          </li>
          <li class="header__item">
            <a href="#about" class="header__link">About us</a>
          </li>
          <li class="header__item">
            <a href="#advantages" class="header__link">How it's made?</a>
          </li>
          <li class="header__item">
            <a href="#products" class="header__link">Our Products</a>
          </li>
          <li class="header__item">
            <a href="#contacts" class="header__link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="header__buttons">
        <button class="menu__toggle js-open-menu">
          <svg width="20" height="14">
            <use href="/src/icons/icons.svg#icon-hamburger"></use>
          </svg>
        </button>
        <button
          class="wide-btn wide-btn--white header__buy-btn"
          type="button"
          data-modal-buynow-open
        >
          Buy now
          <svg class="icon-vector icon-vector--red" width="10" height="10">
            <use href="/src/icons/icons.svg#icon-vector"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="header__main">
      <div class="header__home">
        <h1 class="header__text">
          ICE CREAM MADE WITH <span class="header__text header__text--pink">PASSION</span>
        </h1>
        <div class="header__wrapper header__wrapper--main">
          <a class="wide-btn wide-btn--red header__btn" href="#products">Products</a>
          <a class="wide-btn wide-btn--white header__btn" href="#advantages">How it's made?</a>
        </div>
      </div>
      <div class="header__facilites">
        <h2 class="header__numbers">16 <span class="header__subtext">cafes</span></h2>
        <h2 class="header__numbers">23 <span class="header__subtext">food trucks</span></h2>
      </div>
    </div>
    <div class="header__bottom">
      <div class="header__wrapper header__wrapper--bottom">
        <img
          class="header__slider-pic-first"
          width="124"
          height="126"
          src="/src/images/slider-pic5.png"
          alt=""
        />
        <div class="header__info">
          <p class="header__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="header__round-btn"></button>
        </div>
      </div>
      <img
        class="header__slider-pic-second"
        width="168"
        height="133"
        src="/src/images/slider-pic4.png"
        alt=""
      />
    </div>
  </div>
</header>
