
<div class="menu js-menu-container">
    <button type="button" class="toggle__close js-close-menu">
        <svg class="icon-close-button" width="14" height="14" >
            <use href="./icons/icons.svg#icon-close-btn"></use>
        </svg>
    </button>
    <button type="button" class="toggle-buy-now__mobile-menu"> Buy now
        <svg class="icon-more-btn" width="10" height="10">
            <use href="./icons/icons.svg#icon-vector"></use>
          </svg>
    </button>
    <ul class="mobile__menu">
        <a href="#" class="mobile__menu--link borders__mobile--menu padding-link">Home</a>
        <a href="#" class="mobile__menu--link padding-link">About us</a>
        <a href="#" class="mobile__menu--link borders__mobile--menu padding-link">How it’s made?</a>
        <a href="#" class="mobile__menu--link padding-link">Our products</a>
        <a href="#" class="mobile__menu--link borders__mobile--menu padding-link">Contact</a>
    </ul>
</div>

<!-- <button class="footer__button--text" type="button">Zapisz się
    <svg class="footer__button--icon">
        <use href="./images/icons.svg#icon-tviter"></use>
    </svg>
</button> -->