<div class="backdrop-menu">
  <div class="menu js-menu-container">
    <button type="button" class="modal-franschise__close toggle__close js-close-menu">
      <svg class="modal-franschise__icon" width="18" height="18">
        <use href="./icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <button
      type="button"
      class="toggle-buy-now__mobile-menu wide-btn wide-btn--white header__buy-btn"
    >
      Buy now
      <svg class="icon-vector icon-vector--red" width="10" height="10">
        <use href="/src/icons/icons.svg#icon-vector"></use>
      </svg>
    </button>
    <ul class="mobile__menu">
      <li class="mobile__menu-item">
        <a href="index.html" class="mobile__menu--link borders__mobile--menu padding-link">Home</a>
      </li>
      <li class="mobile__menu-item">
        <a href="#about" class="mobile__menu--link padding-link">About us</a>
      </li>
      <li class="mobile__menu-item">
        <a href="#advantages" class="mobile__menu--link borders__mobile--menu padding-link"
          >How it’s made?</a
        >
      </li>
      <li class="mobile__menu-item">
        <a href="#products" class="mobile__menu--link padding-link">Our products</a>
      </li>
      <li class="mobile__menu-item">
        <a href="#contacts" class="mobile__menu--link borders__mobile--menu padding-link"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</div>
