<section class="products" id="products">
  <div class="products__headers">
    <a href="#products" class="products__headers-first">100% natural</a>
    <h2 class="products__headers-second">products</h2>
  </div>
  <div>
    <ul class="products__list">
      <li class="products__list-item">
        <h3 class="products__list-item-header">ice cream</h3>
        <div class="products__list-dots">
          <span class="products__list-dot-element"></span>
          <span class="products__list-dot-element"></span>
          <span class="products__list-dot-element"></span>
        </div>
        <p class="products__list-item-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="round-btn"></button>
      </li>
      <li class="products__list-item">
        <h3 class="products__list-item-header">ice coffee</h3>
        <div class="products__list-dots">
          <span class="products__list-dot-element"></span>
          <span class="products__list-dot-element"></span>
          <span class="products__list-dot-element"></span>
        </div>
        <p class="products__list-item-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="round-btn"></button>
      </li>
      <li class="products__list-item">
        <h3 class="products__list-item-header">milkshakes</h3>
        <div class="products__list-dots">
          <span class="products__list-dot-element"></span>
          <span class="products__list-dot-element"></span>
          <span class="products__list-dot-element"></span>
        </div>
        <p class="products__list-item-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="round-btn"></button>
      </li>
    </ul>
  </div>
</section>
