.advantages {
  background-color: $backgroundCOlorLight;
  padding &__header {
    visibility: hidden;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 38px;
  }

  &__title {
    font-family: $headerFont;
    color: $primaryColorRed;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
  }
  &__text {
    font-size: 12px;
    line-height: 1.67;
  }
  &__item {
    max-width: 230px;
  }
}
.advantages__item:nth-child(1)::before {
  content: '';
  display: block;
  width: 33px;
  height: 50px;
  background-size: cover;
  margin-bottom: 16px;
  background-image: url('../icons/bucket.png');
}

.advantages__item:nth-child(2)::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-size: cover;
  margin-bottom: 16px;
  background-image: url('../icons/bucket2.png');
}

.advantages__item:nth-child(3)::before {
  content: '';
  display: block;
  width: 44px;
  height: 50px;
  background-size: cover;
  margin-bottom: 16px;
  background-image: url('../icons/lolly.png');
}
@media screen and (min-width: 768px) {
  .advantages {
    &__item {
      width: calc((100% - 120px) / 3);
      gap: 60px;
    }
  }
}
