.contacts {
  font-family: $paragraphFont;
  font-weight: 500;
  background-image: linear-gradient($whiteColor 84px, $backgroundCOlorLight 84px);

  &__container {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__title {
    display: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 54px;
  }

  &__card {
    max-width: 220px;
    margin: 0 auto;
    background-color: $whiteColor;
    border-radius: $buttonBorderRadius;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    padding: 43px 21px 43px 20px;

    transition-property: scale;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;
  }

  &__name {
    width: 80px;
    height: 16px;
    background-color: $secondaryColorCoffee;
    @include flexcenter;
    border-radius: 4px;
    margin-bottom: 25px;
    font-size: 0.75rem;
    line-height: 1.375rem;
    letter-spacing: 0.04em;
    color: $whiteColor;
  }

  &__name--foodtruck {
    background-color: $secondaryColorPistachio;
    width: 130px;
  }

  &__city {
    margin-bottom: 10px;
    font-size: 0.75rem;
    line-height: 1.375rem;
    letter-spacing: 0.04em;
    color: $blackColor;
  }

  &__description {
    margin-bottom: 25px;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: $descTextColor;
  }

  &__schedule {
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid $borderColor;
    border-top: 1px solid $borderColor;
  }

  &__schedule-item {
  }

  &__schedule-item:first-child {
    margin-bottom: 10px;
  }

  &__schedule-day {
    font-size: 0.75rem;
    line-height: 1.375rem;
  }

  &__schedule-hour {
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: $primaryColorRose;
  }

  &__link-list {
  }

  &__link-item {
  }

  &__mail {
    font-size: 0.75rem;
    line-height: 1, 125rem;
    color: $descTextColor;
  }

  &__tel {
    font-size: 0.75rem;
    line-height: 1, 125rem;
    color: $descTextColor;
  }

  &__tel:hover,
  &__mail:hover,
  &__tel:focus,
  &__mail:focus {
    color: $buttonHoverColorRed;
  }

  &__card:hover {
    scale: 1.05;
  }

  &__btn-list {
    @include flexcenter;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 113px;
  }

  &__btn-item {
  }

  &__btn-location {
    @extend %wide-btn;
    @extend %wide-btn--red;
    width: 161px;
    height: 44px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3125rem;
  }

  &__btn-franschise {
    @extend %wide-btn;
    @extend %wide-btn--white;
    width: 161px;
    height: 44px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3125rem;
  }
}
