.customer {
  margin-bottom: 85px;
  &__image {
    display: flex;
    justify-content: center;
    width: 85px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 29px;
  }

  &__description {
    margin-bottom: 30px;
    padding-top: 43px;
    padding-bottom: 26px;
    background-color: $beigeColor;
  }

  &__article {
    max-width: 180px;
    margin: 0 auto;
    position: relative;
    background-image: repeating-linear-gradient(
      $beigeColor 29px,
      $secondaryBeigeColor 1px,
      $beigeColor calc(29px + 1px),
      $beigeColor calc(29px + 29px + 1px)
    );
  }

  &__icon-dash {
    position: absolute;
    left: 15px;
    top: -15px;
  }

  &__name {
    position: relative;
    max-width: 150px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 32px;
    text-align: center;
  }

  &__dots-list {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    gap: 10px;
  }

  &__dots-item {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $redColor;
  }

  &__icon-dots {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 186%;
    text-align: center;
    margin-bottom: 35px;
  }
}

.swiper-pagination-bullet {
  background: $backgroundBeigeColor;
}

.swiper-pagination-bullet-active {
  background: $redColor;
  background-image: url('../icons/home.svg');
  background-size: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
}

@media screen and (min-width: $breakpointTabletStart) and (max-width: $breakpointTabletEnd) {
  .customer {
    padding: 0 54px;
    margin-bottom: 115px;
  }

  .customer__description {
    margin-bottom: 24px;
  }

  .customer__article {
    max-width: 544px;
  }

  .customer__icon-dash {
    left: 15px;
    top: -15px;
  }

  .customer__name {
    max-width: 460px;
    font-size: 0.875rem;
    line-height: 2.14;
    letter-spacing: 0.04em;
    margin: 0 auto;
  }

  .customer__title {
    font-size: 1rem;
    line-height: 30px;
  }
}

@media screen and (min-width: $breakpointDesktopStart) {
  .customer {
    padding: 0 158px;
    margin-bottom: 130px;
  }

  .customer__description {
    margin-bottom: 15px;
  }

  .customer__article {
    max-width: 822px;
  }

  .customer__icon-dash {
    left: -5px;
    top: -15px;
  }

  .customer__name {
    max-width: 750px;
    font-size: 1rem;
    line-height: 30px;
    letter-spacing: 0.04em;
    margin: 0 auto;
  }

  .customer__title {
    font-size: 1.25rem;
  }
}
