@import '../utils/vars';
@import '../utils/globals';

.customer {
  &__image {
    display: flex;
    justify-content: center;
    width: 85px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 29px;
  }
  &__description {
    width: auto;
    position: relative;
    background-color: #fafafa;
  }
  &__icon-dash {
    position: absolute;
    left: 61px;
    top: 28px;
  }
  &__name {
    position: relative;
    padding: 43px 65px 26px 65px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
    text-underline-offset: 6px;
    text-decoration: underline;
    text-decoration-color: #e1e1e1;
  }
  &__icon-dots {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
  }
  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    text-align: center;
    margin-bottom: 35px;
  }
}
.swiper-pagination-bullet {
  background: #d9d9d9;
}
.swiper-pagination-bullet-active {
  background: #d31342;
}

// TABLET
@media screen and (min-width: $breakpointTabletStart) and (max-width: $breakpointTabletEnd) {
  .customer {
    padding: 0 54px;
  }
  .customer__icon-dash {
    left: 40px;
    top: 30px;
  }
  .customer__name {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.04em;
  }
  .customer__title {
    font-size: 16px;
    line-height: 30px;
  }
}

// DESKOP
@media screen and (min-width: $breakpointDesktopStart) {
  .customer {
    padding: 0 158px;
  }
  .customer__icon-dash {
    left: 50px;
    top: 32px;
  }
  .customer__name {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
  }
}
