@media screen and (min-width: 100px) and (max-width: $breakpointPhoneEnd) {
  .gallery {
    display: none;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery {
  position: relative;

  padding: 1rem;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(255, 245, 246, 1) 50%);

  &__grid-absolute {
    position: absolute;
    top: 2%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    height: 100%;
  }

  &__img {
    border-radius: 30px;
    display: block;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    width: 100%;

    &--bigimg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50px;
    }
  }

  &__img:hover,
  &__img--bigimg:hover {
    transform: scale(1.3);
    transition-timing-function: $transitionTimingDefault;
    transition-duration: $transitionDurationDefault;
    position: relative;
    z-index: 2;
  }

  &__img-box {
    width: 100%;
    height: 50%;
    display: block;
    margin: 0 auto;

    &--big {
      height: 100%;
      width: 100%;
    }
  }

  &__item-0 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
    position: relative;
    top: -18%;
  }

  &__item-1 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
    position: relative;
    top: 15%;
  }

  &__item-2 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    position: relative;
    bottom: -65%;
  }

  &__item-3 {
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 4;
    position: relative;
    top: 40%;
  }

  &__item-4 {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 5;
    position: relative;
    bottom: -40%;
  }

  &__item-5 {
    grid-row-start: 3;
    grid-column-start: 5;
    grid-row-end: 4;
    grid-column-end: 6;
    position: relative;
    top: 15%;
  }

  &__item-6 {
    grid-row-start: 2;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 6;
    position: relative;
    bottom: -65%;
  }

  &__item-7 {
    grid-row-start: 3;
    grid-column-start: 6;
    grid-row-end: 4;
    grid-column-end: 7;
  }

  &__item-8 {
    grid-row-start: 2;
    grid-column-start: 6;
    grid-row-end: 3;
    grid-column-end: 7;
    position: relative;
    top: 50%;
  }

  &__item-9 {
    grid-row-start: 3;
    grid-column-start: 7;
    grid-row-end: 4;
    grid-column-end: 8;
    object-fit: cover;
    position: relative;
    top: -20%;
  }
}
