.header {
  background-color: $secondaryColorStrawberry;

  &__container {
    position: relative;
    max-width: $breakpointPhoneEnd;
    margin: auto;
    padding: 6px 20px 0px 20px;
    background-image: url('/src/images/slider-pic7.png'), url('/src/images/ellipse-cut.png');
    background-size: 171px 410px, 284px 344px;
    background-repeat: no-repeat;
    background-position: calc(100% - 32px) bottom, right 45%;
  }

  &__top {
    @include flexcenter(flex, center, space-between);
    margin-bottom: 137px;
    transition: $transitionDefault;
  }

  &__nav {
    display: none;
  }

  &__list {
    @include flexcenter(flex, center, space-between);
    gap: 35px;
    list-style: none;
  }

  &__item {
    transition: $transitionDefault;
    &:hover,
    &:focus {
      transform: translateY(-1px);
    }
  }

  &__link {
    font-family: $paragraphFont;
    text-decoration: none;
    font-weight: 700;
    color: $whiteColor;
    line-height: 1.31;
    transition: $transitionDefault;

    &--active {
      color: $primaryColorRed;
    }

    &:hover,
    &:focus {
      color: $primaryColorRed;
    }
  }

  &__btn {
    font-size: 0.5rem;
    line-height: 1.25;
    padding: 0.9em 1.8em;
  }

  &__round-btn {
    @extend %round-btn;
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    margin: 0;
  }

  &__buy-btn {
    position: relative;
    text-align: left;
    display: none;
    font-size: 1rem;
    padding: 10px 37px;
    font-weight: 700;
    line-height: 1.31;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__text {
    font-family: $headerFont;
    color: $whiteColor;
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 1.154;
    letter-spacing: 0.04em;
    width: 213px;
    padding-bottom: 19px;
    transition: $transitionDefault;

    &--pink {
      font-size: 3rem;
      color: $primaryColorRed;
    }
  }

  &__wrapper {
    @include flexcenter(flex, center, flex-start);
    gap: 8px;
  }

  &__description {
    width: 114px;
    font-size: 0.5rem;
    line-height: 1.5;
    margin-bottom: 7px;
    font-family: $paragraphFont;
    transition: $transitionDefault;
  }

  &__main {
    transition: $transitionDefault;
    padding-bottom: 160px;
    @include flexcenter(flex, flex-start, space-between);
  }

  &__facilites {
    display: none;
  }

  &__numbers {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: $headerFont;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-align: right;
    color: $primaryColorRed;
    transition: $transitionDefault;
    z-index: 1;

    &::before {
      position: absolute;
      content: '';
      background-image: url('/src/images/ellipse-white.png');
      background-size: 16px 16px;
      width: 16px;
      height: 16px;
      top: -3px;
      right: -8px;
      z-index: -1;
    }
  }

  &__subtext {
    font-family: $paragraphFont;
    font-size: 0.5rem;
    line-height: 1.25;
    color: $whiteColor;
  }

  &__bottom {
    display: none;
    transition: $transitionDefault;
  }

  &__info {
    margin-top: 18%;
    font-size: 0.5rem;
    line-height: 1.5;
    color: $whiteColor;
  }

  &__slider-pic-second {
    position: absolute;
    bottom: 0;
    right: 34px;
  }
}

@media (min-width: $breakpointTabletStart) {
  .header {
    &__container {
      max-width: $breakpointTabletStart;
      padding: 38px 34px 28px 34px;
      background-image: url('/src/images/slider-pic7.png'), url('/src/images/ellipse.png');
      background-size: 143px 336px, 324px 322px;
      background-position: calc(100% - 247px) bottom, calc(100% - 137px);
    }

    &__top {
      margin-bottom: 15px;
    }

    &__text {
      width: 162px;
      font-size: 1.375rem;
      line-height: 1.13;

      &--pink {
        font-size: 2.2rem;
      }
    }

    &__buy-btn {
      display: block;
    }

    &__main {
      margin-bottom: 19px;
      padding-bottom: 0;
    }

    &__text {
      &--pink {
        line-height: 0.8;
      }
    }

    &__facilites {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }

    &__bottom {
      display: flex;
    }
  }
}

@media (min-width: $breakpointDesktopStart) {
  .header {
    &__container {
      max-width: $breakpointDesktopStart;
      padding: 38px 46px 45px 46px;
      background-size: 236px 557px, 538px 538px;
      background-position: calc(100% - 450px) bottom, calc(100% - 267px);
    }

    &__top {
      margin-bottom: 84px;
    }

    &__home {
      transition: $transitionDefault;
      margin-left: 69px;
    }

    &__nav {
      display: flex;
    }

    &__text {
      width: 277px;
      font-size: 2.375rem;
      line-height: 1.15;

      &--pink {
        font-size: 3.8rem;
        line-height: 0.85;
      }
    }

    &__btn {
      font-size: 0.875rem;
      line-height: 1.28;
    }

    &__round-btn {
      width: 26px;
      height: 26px;
      background-size: 26px 26px;
    }

    &__main {
      margin-bottom: 56px;
    }

    &__description {
      width: 200px;
      font-size: 0.875rem;
      line-height: 1.4;
      margin-bottom: 20px;
    }

    &__slider-pic-first {
      width: 188px;
      height: 191px;
    }

    &__slider-pic-second {
      width: 293px;
      height: 232px;
    }

    &__facilites {
      gap: 18px;
    }

    &__numbers {
      font-size: 2.875rem;
      line-height: 1.15;

      &::before {
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
      }
    }

    &__subtext {
      font-size: 0.875rem;
      line-height: 1.28;
    }

    &__wrapper {
      &__bottom {
        margin-left: 31px;
      }
    }
  }
}

.icon-vector {
  transition: $transitionDefault;
  fill: none;
  margin-left: 8px;

  &--red {
    stroke: $primaryColorRed;
  }

  &--white {
    stroke: $whiteColor;
  }
}
