.products {
  margin-top: 121px;
  margin-bottom: 98px;

  &__headers {
    text-transform: uppercase;
    text-align: center;

    &-first {
      text-decoration: none;
      font-family: $headerFont;
      font-style: normal;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.16;
      color: $primaryColorRose;
    }

    &-second {
      font-family: $headerFont;
      font-style: normal;
      font-weight: 400;
      font-size: 2.25rem;
      line-height: 1.14;
      letter-spacing: 0.04em;
      color: $primaryColorRed;
      padding-bottom: 144px;
    }
  }

  &__list {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 130px;

    &-item {
      max-width: 280px;
      padding-top: 161px;
      border-radius: 24px;
      display: flex;
      gap: 30px;
      flex-direction: column;
      align-items: center;
      position: relative;
    }

    &-item:first-child:before {
      content: '';
      background-image: url('../images/ice-cream-cone.png');
      width: 249px;
      height: 252px;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -45%);
    }

    &-item:first-child {
      background: $secondaryColorStrawberry;
    }

    &-item:nth-child(2) {
      background: $secondaryColorCoffee;
    }

    &-item:nth-child(2):before {
      content: '';
      background-image: url('../images/ice-coffe.png');
      width: 249px;
      height: 252px;
      background-size: cover;
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -45%);
    }

    &-item:nth-child(3) {
      background: $secondaryColorPistachio;
    }

    &-item:nth-child(3):before {
      content: '';
      background-image: url('../images/milkshake.png');
      width: 249px;
      height: 252px;
      background-size: cover;
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -45%);
    }

    &-item-header {
      font-family: $headerFont;
      font-style: normal;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.15;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $whiteColor;
    }

    &-item-desc {
      font-family: $paragraphFont;
      font-style: normal;
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.52;
      text-align: center;
      letter-spacing: 0.04em;
      color: $whiteColor;
      padding: 0 40px;
    }

    &-dot-element {
      border-radius: 50%;
      background-color: $whiteColor;
      width: 6px;
      height: 6px;
      display: inline-block;
    }
  }
}

.round-btn {
  @extend %round-btn;
  margin-bottom: 40px;
}

@media screen and (min-width: $breakpointTabletStart) {
  .products {
    margin-bottom: 112px;

    &__headers {
      &-first {
        font-size: 1.625rem;
      }

      &-second {
        font-size: 3rem;
        padding-bottom: 152px;
      }
    }

    &__list {
      flex-direction: row;
      justify-content: center;
      padding: 0 34px;
      gap: 20px;

      &-item {
        max-width: 220px;
        padding-top: 152px;
      }

      &-item:first-child:before {
        width: 220px;
        height: 226px;
      }

      &-item:nth-child(2):before {
        width: 220px;
        height: 226px;
      }

      &-item:nth-child(3):before {
        width: 220px;
        height: 226px;
      }

      &-item-desc {
        padding: 0 11px;
        line-height: 1.76;
      }
    }
  }

  .round-btn {
    margin-top: 10px;
  }
}

@media screen and (min-width: $breakpointDesktopStart) {
  .products {
    margin-top: 127px;
    margin-bottom: 119px;

    &__headers {
      &-first {
        font-size: 1.875rem;
        line-height: 1.13;
      }

      &-second {
        font-size: 3.625rem;
        padding-bottom: 259px;
      }
    }

    &__list {
      gap: 27px;

      &-item {
        min-width: 329px;
        gap: 32px;
      }

      &-item:first-child:before {
        width: 335px;
        height: 335px;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -66%);
      }

      &-item:nth-child(2):before {
        width: 335px;
        height: 335px;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -66%);
      }

      &-item:nth-child(3):before {
        width: 335px;
        height: 335px;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -66%);
      }

      &-item-header {
        font-size: 1.875rem;
        line-height: 1.13;
      }

      &-item-desc {
        font-size: 1rem;
        line-height: 1.76;
        padding: 0 44px;
      }
    }
  }

  .round-btn {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__list-item:first-child:before {
    background-image: url('../images/ice-cream-cone@2x.png');
  }

  .products__list-item:nth-child(2):before {
    background-image: url('../images/ice-coffe@2x.png');
  }

  .products__list-item:nth-child(3):before {
    background-image: url('../images/milkshake@2x.png');
  }
}
